<a href="https://colab.research.google.com/github/khan022/turing_exams/blob/main/turing_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
data = pd.read_csv('./data/cardio_base.csv')

In [ ]:
grouped_data = data.groupby('age')['weight'].mean()
max_avg_weight = grouped_data.max()
min_avg_weight = grouped_data.min()
difference = max_avg_weight - min_avg_weight

In [ ]:
difference/min_avg_weight

14.0

In [ ]:
data['age_years'] = np.floor(data['age'] / 365)

In [ ]:
grouped_data = data.groupby('age_years')['weight'].mean()
max_avg_weight = grouped_data.max()
min_avg_weight = grouped_data.min()
difference = max_avg_weight - min_avg_weight

In [ ]:
difference/min_avg_weight*100

28.599526712260886

In [ ]:
data['cholesterol'].max()

3

In [ ]:
high_cholesterol = data[(data['age_years'] > 50) & (data['cholesterol'] >= 3)]
count = len(high_cholesterol)

In [ ]:
count

6586

In [ ]:
len(data[data['age_years'] > 50.0])

45375

In [ ]:
len(data[data['age_years'] < 50.0])

21409

In [ ]:
high_cholesterol = data[(data['age_years'] < 50) & (data['cholesterol'] >= 3)]
len(high_cholesterol)

1242

In [ ]:
6586/45375

0.14514600550964188

In [ ]:
1242/21409

0.058012985193143074

In [ ]:
high_cholesterol = data[(data['cholesterol'] == 2)]
len(high_cholesterol)

9549

In [ ]:
9549/70000

0.1364142857142857

In [ ]:
.14-.06

0.08000000000000002

In [ ]:
smoker = data[(data['gender'] == 1) & (data['smoke'] == 1)]
len(smoker)

813

In [ ]:
smoker = data[(data['gender'] == 2) & (data['smoke'] == 1)]
len(smoker)

5356

In [ ]:
len(data[(data['gender'] == 1)])

45530

In [ ]:
len(data[(data['gender'] == 2)])

24470

In [ ]:
813/45530*100

1.7856358444981333

In [ ]:
5356/24470*100

21.88802615447487

In [ ]:
threshold = data['height'].quantile(0.99)
threshold

184.0

In [ ]:
correlations = data.corr(method='spearman')
highest_corr = correlations.unstack().sort_values(ascending=False).drop_duplicates()
highest_pair = highest_corr.index[1]

In [ ]:
highest_pair

('ap_lo', 'ap_hi')

In [ ]:
data = data.drop(['age'], axis=1)

In [ ]:
avg_height = data['height'].mean()
std_height = data['height'].std()
outliers = data[(data['height'] > avg_height + 2 * std_height) | (data['height'] < avg_height - 2 * std_height)]
count = len(outliers)
percentage = count / len(data) * 100

In [ ]:
percentage

3.3357142857142854

In [ ]:
data2 = pd.read_csv('./data/cardio_alco.csv')
data2.head

<bound method NDFrame.head of        id;alco
0         44;0
1         45;0
2         46;0
3         47;0
4         49;0
...        ...
56898  99949;0
56899  99950;0
56900  99951;0
56901  99952;0
56902  99954;0

[56903 rows x 1 columns]>

In [ ]:
data2 = data2['id;alco'].str.split(';')

In [ ]:
data2

0           [44, 0]
1           [45, 0]
2           [46, 0]
3           [47, 0]
4           [49, 0]
            ...
56898    [99949, 0]
56899    [99950, 0]
56900    [99951, 0]
56901    [99952, 0]
56902    [99954, 0]
Name: id;alco, Length: 56903, dtype: object

In [ ]:
expanded_data = data2.apply(pd.Series)

In [ ]:
expanded_data.columns = ['id', 'alco']

In [ ]:
expanded_data

          id alco
0         44    0
1         45    0
2         46    0
3         47    0
4         49    0
...      ...  ...
56898  99949    0
56899  99950    0
56900  99951    0
56901  99952    0
56902  99954    0

[56903 rows x 2 columns]

In [ ]:
data

,id,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke,age_years
0,0,2,168,62.0,110,80,1,0,50.0
1,1,1,156,85.0,140,90,3,0,55.0
2,2,1,165,64.0,130,70,3,0,51.0
3,3,2,169,82.0,150,100,1,0,48.0
4,4,1,156,56.0,100,60,1,0,47.0
...,...,...,...,...,...,...,...,...,...
69995,99993,2,168,76.0,120,80,1,1,52.0
69996,99995,1,158,126.0,140,90,2,0,61.0
69997,99996,2,183,105.0,180,90,3,0,52.0
69998,99998,1,163,72.0,135,80,1,0,61.0
69999,99999,1,170,72.0,120,80,2,0,56.0

In [ ]:
data.dtypes

id               int64
gender           int64
height           int64
weight         float64
ap_hi            int64
ap_lo            int64
cholesterol      int64
smoke            int64
age_years      float64
dtype: object

In [ ]:
expanded_data.dtypes

id      int64
alco    int64
dtype: object

In [ ]:
expanded_data['id'] = expanded_data['id'].astype(str).astype(int)
expanded_data['alco'] = expanded_data['alco'].astype(str).astype(int)

In [ ]:
expanded_data

          id  alco
0         44     0
1         45     0
2         46     0
3         47     0
4         49     0
...      ...   ...
56898  99949     0
56899  99950     0
56900  99951     0
56901  99952     0
56902  99954     0

[56903 rows x 2 columns]

In [ ]:
merged_data = pd.merge(data, expanded_data, left_on='id', right_on='id')

In [ ]:
merged_data

,id,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke,age_years,alco
0,44,1,159,60.0,110,70,1,0,40.0,0
1,45,1,160,73.0,130,85,1,0,56.0,0
2,46,2,173,82.0,140,90,3,0,60.0,0
3,47,1,163,55.0,120,80,1,0,55.0,0
4,49,2,175,95.0,120,80,1,0,50.0,0
...,...,...,...,...,...,...,...,...,...,...
56898,99949,1,178,69.0,130,90,1,0,57.0,0
56899,99950,2,155,76.0,130,90,1,0,53.0,0
56900,99951,2,170,72.0,120,80,1,0,61.0,0
56901,99952,2,165,66.0,120,80,1,0,42.0,0
56902,99954,1,156,67.0,140,80,2,0,55.0,0

In [ ]:
alcoholism = merged_data[(merged_data['age_years'] >= 50) & (merged_data['alco'] == 1)]
len(alcoholism)/len(data)

0.027957142857142857

In [ ]:
al = data[(data['gender'] == 1) & (data['cholesterol'] >= 3)]
len(al)

5557

In [ ]:
al = data[(data['gender'] == 2) & (data['cholesterol'] >= 3)]
len(al)

2509

In [ ]:
covid_data = pd.read_csv('./data/covid_data.csv')

In [ ]:
covid_data

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5
...,...,...,...,...,...,...,...,...
23077,International,2020-02-28,0,0,NaN,NaN,NaN,NaN
23078,International,2020-02-29,0,2,NaN,NaN,NaN,NaN
23079,International,2020-03-01,0,0,NaN,NaN,NaN,NaN
23080,International,2020-03-02,0,0,NaN,NaN,NaN,NaN
23081,International,2020-03-10,-9,1,NaN,NaN,NaN,NaN

In [ ]:
filtered_data = covid_data[covid_data['location'].isin(['Italy', 'Germany'])]
cumulative_data = filtered_data.groupby('date')['new_cases'].sum().cumsum()
start_date = cumulative_data[cumulative_data > 10000].index[0]

In [ ]:
start_date

'2020-03-10'

In [ ]:
filtered_data = covid_data[(covid_data['location'] == 'Italy') & (covid_data['date'] >= '2020-02-28') & (covid_data['date'] <= '2020-03-20')]
filtered_data

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
10747,Italy,2020-02-28,250,5,60461828.0,23.021,35220.084,3.18
10748,Italy,2020-02-29,238,4,60461828.0,23.021,35220.084,3.18
10749,Italy,2020-03-01,240,8,60461828.0,23.021,35220.084,3.18
10750,Italy,2020-03-02,561,6,60461828.0,23.021,35220.084,3.18
10751,Italy,2020-03-03,347,17,60461828.0,23.021,35220.084,3.18
10752,Italy,2020-03-04,466,28,60461828.0,23.021,35220.084,3.18
10753,Italy,2020-03-05,587,27,60461828.0,23.021,35220.084,3.18
10754,Italy,2020-03-06,769,41,60461828.0,23.021,35220.084,3.18
10755,Italy,2020-03-07,778,49,60461828.0,23.021,35220.084,3.18
10756,Italy,2020-03-08,1247,36,60461828.0,23.021,35220.084,3.18
10757,Italy,2020-03-09,1492,133,60461828.0,23.021,35220.084,3.18
10758,Italy,2020-03-10,1797,98,60461828.0,23.021,35220.084,3.18
10759,Italy,2020-03-11,977,167,60461828.0,23.021,35220.084,3.18
10760,Italy,2020-03-12,2313,196,60461828.0,23.021,35220.084,3.18
10761,Italy,2020-03-13,2651,189,60461828.0,23.021,35220.084,3.18
10762,Italy,2020-03-14,2547,252,60461828.0,23.021,35220.084,3.18
10763,Italy,2020-03-15,3497,173,60461828.0,23.021,35220.084,3.18
10764,Italy,2020-03-16,2823,370,60461828.0,23.021,35220.084,3.18
10765,Italy,2020-03-17,4000,347,60461828.0,23.021,35220.084,3.18
10766,Italy,2020-03-18,3526,347,60461828.0,23.021,35220.084,3.18
10767,Italy,2020-03-19,4207,473,60461828.0,23.021,35220.084,3.18
10768,Italy,2020-03-20,5322,429,60461828.0,23.021,35220.084,3.18

In [ ]:
def exponential(x, A, B):
    return A * np.exp(B * x)

In [ ]:
from scipy.optimize import curve_fit

In [ ]:
cumulative_data = filtered_data.groupby('date')['new_cases'].sum().cumsum()

In [ ]:
cumulative_data

date
2020-02-28      250
2020-02-29      488
2020-03-01      728
2020-03-02     1289
2020-03-03     1636
2020-03-04     2102
2020-03-05     2689
2020-03-06     3458
2020-03-07     4236
2020-03-08     5483
2020-03-09     6975
2020-03-10     8772
2020-03-11     9749
2020-03-12    12062
2020-03-13    14713
2020-03-14    17260
2020-03-15    20757
2020-03-16    23580
2020-03-17    27580
2020-03-18    31106
2020-03-19    35313
2020-03-20    40635
Name: new_cases, dtype: int64

In [ ]:
len(filtered_data)

22

In [ ]:
days_passed = (pd.to_datetime(filtered_data['date']) - pd.to_datetime(filtered_data['date'].min())).dt.days
cumulative_cases = cumulative_data

new_data = pd.DataFrame({'days_passed': days_passed, 'cumulative_cases': cumulative_cases})

In [ ]:
x_data = days_passed
y_data = cumulative_cases


params, _ = curve_fit(exponential, x_data, y_data)
A, B = params

date = '2020-03-20'
#days_passed = (pd.to_datetime(date) - pd.to_datetime(data['date'].min())).days
predicted_cases = exponential(days_passed, A, B)

actual_cases = filtered_data[filtered_data['date'] == date][cumulative_cases].iloc[0]
difference = predicted_cases - actual_cases

KeyError: ignored

In [ ]:
predicted_cases

10747     1473.738636
10748     1729.290844
10749     2029.156833
10750     2381.020791
10751     2793.899374
10752     3278.372764
10753     3846.855790
10754     4513.916058
10755     5296.647261
10756     6215.107203
10757     7292.831793
10758     8557.438163
10759    10041.332365
10760    11782.539790
10761    13825.679587
10762    16223.108044
10763    19036.260240
10764    22337.224343
10765    26210.588900
10766    30755.610453
10767    36088.757026
10768    42346.692669
Name: date, dtype: float64

In [ ]:
cumulative_data

date
2020-02-28      250
2020-02-29      488
2020-03-01      728
2020-03-02     1289
2020-03-03     1636
2020-03-04     2102
2020-03-05     2689
2020-03-06     3458
2020-03-07     4236
2020-03-08     5483
2020-03-09     6975
2020-03-10     8772
2020-03-11     9749
2020-03-12    12062
2020-03-13    14713
2020-03-14    17260
2020-03-15    20757
2020-03-16    23580
2020-03-17    27580
2020-03-18    31106
2020-03-19    35313
2020-03-20    40635
Name: new_cases, dtype: int64

In [ ]:
42346.692669-40635

1711.6926689999964

In [ ]:
cumulative_data = covid_data.groupby('location')['new_deaths'].sum().cumsum()
cumulative_data

location
Afghanistan          384
Albania              418
Algeria             1142
Andorra             1193
Angola              1197
                   ...
Western Sahara    411054
World             822249
Yemen             822376
Zambia            822386
Zimbabwe          822390
Name: new_deaths, Length: 212, dtype: int64

In [ ]:
covid_data['death_rate'] = covid_data['new_deaths'].sum() / covid_data['population'] * 1000000

# Sort the DataFrame by death rate in descending order
covid_data = covid_data.sort_values(by='death_rate', ascending=False)

# Select the country with the 3rd highest death rate
country = covid_data.iloc[2]['location']

In [ ]:
covid_data = pd.read_csv('./data/covid_data.csv')

In [ ]:
country

'Vatican'

In [ ]:
covid_data['location'].unique()

array(['Vatican', 'Falkland Islands', 'Montserrat', 'Anguilla',
       'Bonaire Sint Eustatius and Saba', 'British Virgin Islands',
       'Gibraltar', 'San Marino', 'Liechtenstein',
       'Turks and Caicos Islands', 'Monaco', 'Sint Maarten (Dutch part)',
       'Faeroe Islands', 'Saint Kitts and Nevis', 'Greenland',
       'Northern Mariana Islands', 'Bermuda', 'Cayman Islands',
       'Guernsey', 'Dominica', 'Andorra', 'Isle of Man',
       'Antigua and Barbuda', 'Seychelles', 'Jersey',
       'United States Virgin Islands', 'Aruba',
       'Saint Vincent and the Grenadines', 'Grenada', 'Curacao', 'Guam',
       'Saint Lucia', 'Sao Tome and Principe', 'French Polynesia',
       'New Caledonia', 'Barbados', 'Iceland', 'Bahamas', 'Belize',
       'Brunei', 'Malta', 'Maldives', 'Cape Verde', 'Suriname',
       'Western Sahara', 'Luxembourg', 'Montenegro', 'Bhutan', 'Guyana',
       'Comoros', 'Cyprus', 'Fiji', 'Djibouti', 'Swaziland', 'Mauritius',
       'Timor', 'Estonia', 'Trinidad and Tobago', 'Equatorial Guinea',
       'Bahrain', 'Latvia', 'Kosovo', 'Guinea-Bissau', 'Slovenia',
       'Macedonia', 'Lesotho', 'Gabon', 'Botswana', 'Gambia', 'Namibia',
       'Lithuania', 'Puerto Rico', 'Albania', 'Qatar', 'Jamaica',
       'Armenia', 'Mongolia', 'Bosnia and Herzegovina', 'Uruguay',
       'Eritrea', 'Georgia', 'Moldova', 'Croatia', 'Kuwait', 'Panama',
       'Mauritania', 'New Zealand', 'Central African Republic', 'Ireland',
       'Liberia', 'Costa Rica', 'Palestine', 'Oman', 'Norway', 'Slovakia',
       'Congo', 'Finland', 'Denmark', 'Singapore', 'El Salvador',
       'Kyrgyzstan', 'Nicaragua', 'Serbia', 'Lebanon', 'Libya',
       'Bulgaria', 'Paraguay', 'Laos', 'Hong Kong', 'Sierra Leone',
       'Togo', 'Switzerland', 'Israel', 'Papua New Guinea', 'Austria',
       'Belarus', 'Tajikistan', 'Hungary', 'United Arab Emirates',
       'Honduras', 'Sweden', 'Azerbaijan', 'Portugal', 'Jordan', 'Greece',
       'Czech Republic', 'Dominican Republic', 'South Sudan', 'Cuba',
       'Haiti', 'Belgium', 'Bolivia', 'Tunisia', 'Burundi', 'Benin',
       'Rwanda', 'Guinea', 'Zimbabwe', 'Somalia', 'Chad', 'Cambodia',
       'Senegal', 'Netherlands', 'Syria', 'Ecuador', 'Guatemala',
       'Zambia', 'Kazakhstan', 'Chile', 'Malawi', 'Romania', 'Mali',
       'Burkina Faso', 'Sri Lanka', 'Taiwan', 'Niger', 'Australia',
       "Cote d'Ivoire", 'Cameroon', 'Madagascar', 'Venezuela', 'Nepal',
       'Yemen', 'Ghana', 'Mozambique', 'Malaysia', 'Angola', 'Peru',
       'Uzbekistan', 'Saudi Arabia', 'Morocco', 'Canada', 'Poland',
       'Afghanistan', 'Iraq', 'Ukraine', 'Sudan', 'Algeria', 'Argentina',
       'Uganda', 'Spain', 'Colombia', 'South Korea', 'Kenya', 'Myanmar',
       'South Africa', 'Tanzania', 'Italy', 'France', 'United Kingdom',
       'Thailand', 'Germany', 'Iran', 'Turkey',
       'Democratic Republic of Congo', 'Vietnam', 'Egypt', 'Philippines',
       'Ethiopia', 'Japan', 'Mexico', 'Russia', 'Bangladesh', 'Nigeria',
       'Brazil', 'Pakistan', 'Indonesia', 'United States', 'India',
       'China', 'World', 'International'], dtype=object)

In [ ]:
condition = covid_data['location'].notnull() & covid_data['date'].notnull() & covid_data['new_cases'].notnull() & covid_data['new_deaths'].notnull() & covid_data['population'].notnull() & covid_data['aged_65_older_percent'].notnull() & covid_data['gdp_per_capita'].notnull() & covid_data['hospital_beds_per_thousand'].notnull()
df_proper = covid_data[condition]

In [ ]:
covid_data

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5
...,...,...,...,...,...,...,...,...
23077,International,2020-02-28,0,0,NaN,NaN,NaN,NaN
23078,International,2020-02-29,0,2,NaN,NaN,NaN,NaN
23079,International,2020-03-01,0,0,NaN,NaN,NaN,NaN
23080,International,2020-03-02,0,0,NaN,NaN,NaN,NaN
23081,International,2020-03-10,-9,1,NaN,NaN,NaN,NaN

In [ ]:
df_proper

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,3.892834e+07,2.581,1803.987,0.500
1,Afghanistan,2020-01-01,0,0,3.892834e+07,2.581,1803.987,0.500
2,Afghanistan,2020-01-02,0,0,3.892834e+07,2.581,1803.987,0.500
3,Afghanistan,2020-01-03,0,0,3.892834e+07,2.581,1803.987,0.500
4,Afghanistan,2020-01-04,0,0,3.892834e+07,2.581,1803.987,0.500
...,...,...,...,...,...,...,...,...
23013,World,2020-06-06,133510,4784,7.794799e+09,8.696,15469.207,2.705
23014,World,2020-06-07,125862,3822,7.794799e+09,8.696,15469.207,2.705
23015,World,2020-06-08,116318,3504,7.794799e+09,8.696,15469.207,2.705
23016,World,2020-06-09,105851,3230,7.794799e+09,8.696,15469.207,2.705
23017,World,2020-06-10,125281,4929,7.794799e+09,8.696,15469.207,2.705

In [ ]:
df_proper['death_rate'] = df_proper['new_deaths'].sum() / df_proper['population'] * 1000000

condition1 = df_proper['aged_65_older_percent'] >= 20
condition2 = df_proper['death_rate'] > 50

# Filter rows based on the conditions into a new DataFrame
df_filtered = df_proper[condition1 & condition2]
df_filtered

<ipython-input-187-12f1c5f0ae7c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_proper['death_rate'] = df_proper['new_deaths'].sum() / df_proper['population'] * 1000000

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand,death_rate
3293,Bulgaria,2020-03-08,2,0,6948445.0,20.801,18563.307,7.454,118158.379321
3294,Bulgaria,2020-03-09,2,0,6948445.0,20.801,18563.307,7.454,118158.379321
3295,Bulgaria,2020-03-12,3,1,6948445.0,20.801,18563.307,7.454,118158.379321
3296,Bulgaria,2020-03-13,16,0,6948445.0,20.801,18563.307,7.454,118158.379321
3297,Bulgaria,2020-03-14,8,0,6948445.0,20.801,18563.307,7.454,118158.379321
...,...,...,...,...,...,...,...,...,...
16933,Portugal,2020-06-06,377,10,10196707.0,21.502,27936.896,3.390,80517.857383
16934,Portugal,2020-06-07,382,9,10196707.0,21.502,27936.896,3.390,80517.857383
16935,Portugal,2020-06-08,142,5,10196707.0,21.502,27936.896,3.390,80517.857383
16936,Portugal,2020-06-09,392,6,10196707.0,21.502,27936.896,3.390,80517.857383
16937,Portugal,2020-06-10,421,7,10196707.0,21.502,27936.896,3.390,80517.857383

In [ ]:
len(covid_data['location'].unique())

212

In [ ]:
len(df_proper['location'].unique())

157

In [ ]:
len(df_filtered['location'].unique())

7

In [ ]:
7/157

0.044585987261146494

In [ ]:
7/212

0.0330188679245283

In [ ]:
2*0.04*0.03/(0.04+0.03)

0.03428571428571428

In [ ]:
1-0.03

0.97

In [ ]:
condition1 = df_proper['gdp_per_capita'] > 10000
condition2 = df_proper['hospital_beds_per_thousand'] >= 5

# Calculate the proportion of rows that meet the conditions
probability = len(df_proper[condition1 & condition2]) / len(df_proper)

In [ ]:
probability

0.16352029681361852

In [ ]:
df_hos = df_proper[condition2]

In [ ]:
df_capita = df_hos[df_hos['gdp_per_capita']>10000]
df_capita

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand,death_rate
734,Argentina,2020-03-04,1,0,45195777.0,11.198,18933.907,5.00,18165.790136
735,Argentina,2020-03-06,1,0,45195777.0,11.198,18933.907,5.00,18165.790136
736,Argentina,2020-03-07,6,0,45195777.0,11.198,18933.907,5.00,18165.790136
737,Argentina,2020-03-08,1,1,45195777.0,11.198,18933.907,5.00,18165.790136
738,Argentina,2020-03-09,3,0,45195777.0,11.198,18933.907,5.00,18165.790136
...,...,...,...,...,...,...,...,...,...
19317,South Korea,2020-06-06,51,0,51269183.0,13.914,35938.374,12.27,16013.849879
19318,South Korea,2020-06-07,57,0,51269183.0,13.914,35938.374,12.27,16013.849879
19319,South Korea,2020-06-08,38,0,51269183.0,13.914,35938.374,12.27,16013.849879
19320,South Korea,2020-06-09,38,1,51269183.0,13.914,35938.374,12.27,16013.849879
19321,South Korea,2020-06-10,50,2,51269183.0,13.914,35938.374,12.27,16013.849879

In [ ]:
len(df_capita['location'].unique())

23

In [ ]:
len(df_hos['location'].unique())

26

In [ ]:
23/26

0.8846153846153846